.desktop-required-message {
    display: none;
}

.recycler-registration-page .registration-form {
    padding-top: 20px;
    padding-bottom: 24px;
    border-radius: 9px;
}

.recycler-registration-page .form-group {
    margin-bottom: 14px;
}

.recycler-registration-page .form-group input,
.recycler-registration-page .form-group select {
    height: 52px;
}

.recycler-registration-page .form-submit-area {
    margin-top: 18px;
}
